%wv_prep CONFIG FILE
%WHAT: controls the input parameters of the FTP config module
%
%
%destionation of fetched files
%
local_flag      0
%
local_path      /WeatherShare/odimh5_archive/
%
s3_path         s3://roames-wxradar-archive/odimh5_archive/
%
ftp_address     ftp.bom.gov.au
%
ftp_un          anonymous
%
ftp_pass        j.soderholm@uq.edu.au
%
ftp_path        register/bom517/benAWrij4/radar
%
%oldest filename to keep in ftp_latest_vol.mat
ftp_oldest      -30
