%KML CONFIG FILE
%WHAT: controls the input parameters of the KML config module
%
% DESTINATION OPTIONS
local_dest_flag          1
local_dest_root          /home/meso/roames_weather_kml/kml_realtime_testing/
s3_dest_root             s3://roames-wxradar-kml/kml_realtime/
s3_public_root           https://s3-ap-southeast-2.amazonaws.com/roames-wxradar-kml/kml_realtime/
%
% REALTIME OPTIONS
realtime_kml             0
realtime_length          -1          %hours
%
% RESTART OPTIONS
save_object_struct       1     %triggers save of object_struct during realtime processing, if saved file is not present during starting/restarting script, a rebuild of the kml tree will be initated
%
%FILE STRUCTURE OPTIONS
overlays_path            overlays/
ppi_obj_path             ppi_obj/
track_obj_path           track_obj/
cell_obj_path            cell_obj/
download_path            /tmp/vis_h5_download/
%
% HISTORICAL OPTIOS
hist_oldest              2017-02-14T03:00:00
%yyyy_mm_ddTHH:MM : oldest time to process
hist_newest              2017-02-14T06:00:00
%yyyy_mm_ddTHH:MM : newest time to process
%
%SITE OPTIONS
radar_id_list           23
force_transform_update  0         %flag to force transform regeneration
%site description
%overrides the zone setting
%Option (1)    all
%Option (2)    single number
%Option (3)    vector
%
%REGIONATION OPTIONS
ppi_minLodPixels      50          %lower limit on number of pixels an object scales to for ppi region
ppi_maxLodPixels      -1          %upper limit on number of pixels an object scales to for ppi region
track_minLodPixels    150         %lower limit on number of pixels an object scales to for track region
track_maxLodPixels    -1          %upper limit on number of pixels an object scales to for track region
iso_minLodPixels      50          %lower limit on number of pixels an object scales to for isosurface
iso_maxLodPixels      -1          %upper limit on number of pixels an object scales to for isosurface
max_ge_alt            20000       %upper limit for ge alt in networklinks    
%
%KML OPTIONS
coverage_range        200               %coverage rings distance in km
max_vis_trck_length   20                %length of storm track colormap
xsec_alt              [3000,6000]       %xsection altitude in m
ppi_sweep             3                 %starting from 1st sweep = 1
ppi_dbzh_mask         10                %gatemask which is applied to reflectivity and velocity PPI images in dBZ
ppi_resize_scale      3                 %resize factor for ppi images
%
% KML LAYER OPTIONS
%                1 2 3 4 5 6 7 8 9 10
options               [1,0,0,0,1,1,1,1,0,1]
%description (T/F):
%Entry (1)  PPI refl kml layer
%Entry (2)  PPI vel kml layer
%Entry (3)  Refl xsec kml object
%Entry (4)  Vel xsec kml object
%Entry (5)  inner isosurface kml object
%Entry (6)  outer isosurface kml object
%Entry (7)  storm stats balloon object
%
% ERROR NOTIFICATION
%
pushover_flag     1
max_restart_tries 3
%Entry (8) tracks path kml object
%Entry (9) swaths kml object
%Entry (10) nowcast swaths kml objects
