%WeatherVis Config File
%
%GRID OPTIONS
force_transform_update  0         %flag to force transform regeneration
min_lat                 -9.7      %northern lat of national domain
min_lon                 112       %western lon of national domain
dist_y_km               3925      %km to southern edge of national domain
dist_x_km               4775      %km to eastern edge of national domain
h_grid                  1         %horizontal grid size
v_grid                  0.5       %vertical grid size
v_tops                  20        %horizontal grid tops
radar_mask_rng          200       %km from radar
%transform constants
earth_rad               6371      %km
ke                      4/3       %earth model
%bounding
elv_min                 0.5       %elv deg
elv_max                 32        %elv deg
rng_min                 1         %km
rng_max                 150       %km
%signficant refl check
sig_refl_ppi_no         2         %ppi number for sig refl check
%mobile radar grid config
mobile_v_grid           0.25      %vertical grid res (km)
mobile_v_rng            20        %vertical grid range (km)
mobile_h_grid           0.25      %horz grid res (km)
mobile_h_rng            50        %horz grid range (km)
mobile_max_elv          45        %max elevation angle
mobile_id               99
mobile_lat              -27.48117 
mobile_lon              152.56342
mobile_alt              0.202     %km
%DATA OPTIONS
min_dbzh                -32        %min negative of dbz values to set to transparent
max_dbzh                96         %max of dbz values (128-32)
min_vradh               -71        %min vel value to set to transparent
max_vradh               70         %max of vel values
min_n_groups            4          %minimum number of groups in a h5 file to contiune pass QA
%
%ISOSURFACE OPTIONS
smallest_no_faces      6           %lowest number of faces for an isosurface
outer_iso_faces        2000        %maximum total number of face for the outer_iso
inner_iso_faces        2000        %maximum number of total faces for an inner iso object
inner_iso_percentile   95          %percentile pf dBZ for inner isosurface
low_res_iso_factor     .25         %low res face reduction factor
inner_alpha            0           %alpha for inner collada isosurface
outer_alpha            0.5         %alpha for outer collada isosurface
%
%IDENTIFCATION OPTIONS
ewt_min_hlevel         2           %Min level search criteria DEFAULT 5
ewt_a                  35          %Quantisation refl lower bound (dbz)
ewt_b                  60          %Quantisation refl upper bound (dbz)
ewt_del                1           %Quantisation refl scaling 
ewt_saliency           20          %min areal extent threshold (km) DEFAULT 20, was 15
ewt_kernel_size        9           %smoothing kernel (pixels)
ewt_max_depth          10          %maximum hlevel depth search (units of Q) DEFAULT 10
ewt_refl_h             4           %level to extract refl data from vol (h)
tops_thresh            18          %target dbz value for calculating tops
severe_dbz_thresh      50          %target dbz value for calculating severe dbz surface height
vil_upper_limit        55          %upper limit for vil calculatations (dBZ), negates hail spike effects
%
%TRACKING OPTIONS
min_track_cells       3           %minimum of unique cells for kml track generation (min 2)
min_track_len         2           %minimum track history used for projecting centroid in wdss_tracking
min_other_track_cells 3           %minimum number of other tracked cells which can be used to generate a proj track for a cell with no history
max_track_len         4           %maximum track history used for projecting centroid in wdss_tracking
max_storm_speed       80          %maximum speed of a storm, used to check tracking cell search radius (km/h)
azi_diff              90          %maximum allowable difference between the proj_azi and the tracked azi (deg)
%
%FORECASTING OPTIONS
track_merge_t_offset   15         %the max time offset from the start/end of a day to find start/end cells for merging
oldest_end_cell       -20         %oldest end cell a forecast will be generated for in minutes (offset from kml.m stop_td)
fcst_step             5           %length of steps in minutes
n_fcst_steps          6           %number of forecast steps
min_fcst_cells        3           %minimum of unique cells for forecast generation
max_hist_cells        4           %maximum number of previous timesteps from history to use for forecast generation
nowcast_growth        1.05        %growth rate of nowcast ellipses
axis_scaling          1           %nowcast axis scaling  
%
%DATE FORMAT OPTIONS
r_tfmt                yyyymmdd_HHMMSS            %s3 database date format
ddb_tfmt              yyyy-mm-ddTHH:MM:SS        %ddb date format
ge_tfmt               yyyy-mm-ddTHH:MM:SSZ       %Google's date format
%
%GLOBAL SCALING FACTOR
stats_scale           10                        %number to divide stats by before rounding
geo_scale             10000                     %number to divide geo by before rounding
r_scale               10                        %number to divide radar data objects (dbz,mesh,vel,etc)by before rounding
%dynamodb table name
odimh5_ddb_table      wxradar_odimh5_index
storm_ddb_table       wxradar_storm_index
eraint_ddb_table      wxradar-eraint-fzlvl
staging_ddb_table     wxradar_realtime_staging
%pushover
pushover_flag         1
