%WeatherVis Config File
%
%GRID OPTIONS
min_lat                 -45.8     %southern lat of national domain
max_lat                 -9        %northern lat of national domain
min_lon                 111       %western lon of national domain
max_lon                 156.3     %eastern lon of national domain
h_grid                  0.01      %horizontal grid size (deg)
v_grid                  0.5       %vertical grid size (km)
v_tops                  20        %horizontal grid tops
radar_mask_rng          300       %km from radar
%transform constants
earth_rad               6371      %km
ke                      4/3       %earth model
%signficant refl check
sig_refl_ppi_no         2         %ppi number for sig refl check
%mobile radar grid config
mobile_v_grid           0.25      %vertical grid res (km)
mobile_v_rng            20        %vertical grid range (km)
mobile_h_grid           0.25      %horz grid res (km)
mobile_h_rng            50        %horz grid range (km)
mobile_max_elv          45        %max elevation angle
mobile_id               99
mobile_lat              -27.48117 
mobile_lon              152.56342
mobile_alt              0.202     %km
%DATA OPTIONS
min_dbzh                -32        %min negative of dbz values to set to transparent
max_dbzh                96         %max of dbz values (128-32)
min_vradh               -71        %min vel value to set to transparent
max_vradh               70         %max of vel values
min_n_groups            4          %minimum number of groups in a h5 file to contiune pass QA
%
%ISOSURFACE OPTIONS
smallest_no_faces      6           %lowest number of faces for an isosurface
min_voxels             3           %minimum number of grid voxels for isosurface
outer_iso_faces        2000        %maximum total number of face for the outer_iso
inner_iso_faces        2000        %maximum number of total faces for an inner iso object
inner_iso_percentile   95          %percentile pf dBZ for inner isosurface
low_res_iso_factor     .25         %low res face reduction factor
inner_alpha            0           %alpha for inner collada isosurface
outer_alpha            0.5         %alpha for outer collada isosurface
%
%IDENTIFCATION OPTIONS
ewt_min_hlevel         2           %Min level search criteria DEFAULT 5
ewt_a                  35          %Quantisation refl lower bound (dbz)
ewt_b                  60          %Quantisation refl upper bound (dbz)
ewt_del                1           %Quantisation refl scaling 
ewt_saliency           100         %min areal extent threshold (km) DEFAULT 20, was 15
ewt_kernel_size        3           %smoothing kernel (pixels)
ewt_max_depth          10          %maximum hlevel depth search (units of Q) DEFAULT 10
ewt_refl_h             4           %level to extract refl data from vol (h index)
tops_thresh            18          %target dbz value for calculating tops
severe_dbz_thresh      50          %target dbz value for calculating severe dbz surface height
vil_upper_limit        55          %upper limit for vil calculatations (dBZ), negates hail spike effects
%
%TRACKING OPTIONS
min_track_cells       3           %minimum of unique cells for kml track generation (min 2)
min_track_len         2           %minimum track history used for projecting centroid in wdss_tracking
min_other_track_cells 3           %minimum number of other tracked cells which can be used to generate a proj track for a cell with no history
max_track_len         8           %maximum track history used for projecting centroid in wdss_tracking
max_storm_speed       75          %maximum speed of a storm, used to check tracking cell search radius (km/h)
max_search_distance   13.5        %max search radius for cell tracking (km)
azi_diff              60          %maximum allowable difference between the proj_azi and the tracked azi (deg)
other_track_dist      150         %for case using other tracks to predict path of new cell, sets the maximum search radius for other tracks (km)
%
%FORECASTING OPTIONS
fcst_step             5           %length of steps in minutes
n_fcst_steps          6           %number of forecast steps
min_fcst_cells        3           %minimum of unique cells for forecast generation
max_hist_cells        4           %maximum number of previous timesteps from history to use for forecast generation
radar_mask_time       11          %minutes either side of a PPI scan to search for overlapping radars
%
%DATE FORMAT OPTIONS
r_tfmt                yyyymmdd_HHMMSS            %s3 database date format
ddb_tfmt              yyyy-mm-ddTHH:MM:SS        %ddb date format
ge_tfmt               yyyy-mm-ddTHH:MM:SSZ       %Google's date format
ddb_dateid_tfmt       ddmmyyyy                   %ddb date_id format for storm objects
%
%GLOBAL SCALING FACTOR
r_scale               10                        %number to divide radar data objects (dbz,mesh,vel,etc)by before rounding
%dynamodb table name
odimh5_ddb_table      wxradar_odimh5_index
storm_ddb_table       wxradar_stormh5_index
eraint_ddb_table      wxradar-eraint-fzlvl
clean_stormobj_index  0                         %checks stormobj_index for sort_ids and removed these entries
staging_ddb_table     wxradar_realtime_staging
%pushover
pushover_flag         1
