%KML CONFIG FILE
%WHAT: controls the input parameters of the KML config module
%
%
arch_dir        /WeatherShare/procd-archive/
%
kml_dir         /WeatherShare/realtime-kml/
%~/Dropbox/Public/WeatherVis/
%
oldest_opt      -60
%oldest_opt description
%Option (1) -nn : offset time in hours from current time
%Option (2) dd-mm-yy_HH:MM : oldest time to process
newest_opt      NaN
%newest_opt description
%Option (1) now : latest time in utc
%Option (2) dd-mm-yy_HH:MM : newest time to process
%
zone_name  AUS
%zone decription
%choice of AUS, QLD, N QLD, C QLD, S QLD, SEQ, NSW/VIC, TAS, SA, NT, WA. See latlon domain settings in wv_zones.csv in the config folder
%
site_no         NaN
%site description
%overrides the zone setting
%Option (1) NaN: No site selected
%Option (2)  nn: Site numbers seperated by commas 
%
cts_loop        1
%description: control to while loop
%
nl_path        https://s3-ap-southeast-2.amazonaws.com/roames-weathervis/realtime-kml/doc.kml
%decription: permanent link to http path of public dropbox kml
%
s3sync_chk      1
%description: s3 sync flag
%
options         [1,0,0,0,0,0,1,0,1,1,0,1,1,1]
%description (T/F):
%Entry (1) scan 1 refl kml object
%Entry (2) scan 2 refl kml object
%Entry (3) scan 1 vel kml object
%Entry (4) scan 2 vel kml object
%Entry (5) Refl xsec kml object
%Entry (6) Vel xsec kml object
%Entry (7) inner isosurface kml object
%Entry (8) outer isosurface kml object
%Entry (9) storm stats balloon object
%Entry (10) tracks path kml object
%Entry (11) swaths kml object
%Entry (12) swaths forecasts kml objects
%Entry (13) priority radar selection
%Entry (14) rebuild kml directory
%Entry (15) xsec levels input     


