%PROCESS CONFIG FILE
%WHAT: controls the input parameters of the wv_process module
%
%
src_dir         /WeatherShare/ftp-archive/
%
dest_dir        /WeatherShare/procd-archive/
%
realtime_flag    1
%description: controls process mode:
%Realtime: uses ftp index (.h5), realtime GFS forecast temp data and loops
%Historical: generates own odimh5 list (.h5.tar), uses ERA-Intrim data and does not loop
%
realtime_offset -2
%-nn : offset time in hours from now for realtime
%note: realtime_newest is set to now
%
hist_oldest      01-01-1997_00:00
%dd-mm-yy_HH:MM : oldest time to process
hist_newest      30-06-2016_23:50
%dd-mm-yy_HH:MM : newest time to process
%
site_no         all
%site description
%overrides the zone setting
%Option (1)    all: No site selected
%Option (2)  nn,nn: Site number list seperated by commas 
%
era_interim_ffn /WeatherShare/era-int/19970101-20160630_hailtemps.mat
%snd_ffn        gfs_latest_analysis_snding
%description:  triggers latest analysis script

