%PROCESS CONFIG FILE
%WHAT: controls the input parameters of the wv_process module
%
local_dest_flag 0
%
local_dest_root /WeatherShare/proc_archive/
%
s3_dest_root    s3://roames-wxradar-archive/proc_archive/
%
realtime_flag    1
%description: controls process mode:
%Realtime: uses ftp index (.h5), realtime GFS forecast temp data and loops
%Historical: generates own odimh5 list (.h5.tar), uses ERA-Intrim data and does not loop
%
realtime_offset -2
%-nn : offset time in hours from now for realtime
%note: realtime_newest is set to now
%
hist_oldest      01-01-1997
%dd-mm-yy : oldest time to process
hist_newest      30-06-2016
%dd-mm-yy : newest time to process
%
radar_id_list    2
%site description
%overrides the zone setting
%Option (1)    all: No site selected
%Option (2)    ##: single number
%
era_interim_path /WeatherShare/era_interim_radar_1997-201606/
%description:  processed era-interim path for historical processing
%
%dynamodb table name
odimh5_ddb_table  wxradar-odimh5-index
storm_ddb_table   wxradar-storm-index
