%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% climate.m mapping configuration file
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Joshua Soderholm, March 2017
% Fugro ROAMES
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
% image map layout config
%
map_N_lat               -22.9
map_S_lat               -24.75
map_E_lon               152.3
map_W_lon               150.3
%
% image layers
%
state_id                3
%
draw_cities             1
cities_names            {'Yeppoon','Rocky','1770','Biloela'}
cities_lat              [-23.14,-23.4,-24.18,-24.41]
cities_lon              [150.74,150.5,151.9,150.52]
cities_horz_align       {'right','right','right','right'}
cities_vert_align       {'top','top','top','top'}
cities_fontsize         [10,10,10,10]
cities_marksize         [3,3,3,3]