%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% climate.m mapping configuration file
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Joshua Soderholm, March 2017
% Fugro ROAMES
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
% image map layout config
%
map_N_lat               -33.7
map_S_lat               -35.5
map_E_lon               139.6
map_W_lon               137.4
%
% image layers
%
state_id                [4]
%
draw_cities             1
cities_names            {'Adelaide','Tarlee','Maitland'}
cities_lat              [-34.93,-34.28,-34.38]
cities_lon              [138.58,138.77,137.67]
cities_horz_align       {'right','right','right'}
cities_vert_align       {'top','top','top'}
cities_fontsize         [10,10,10]
cities_marksize         [3,3,3]
