%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% climate.m mapping configuration file
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Joshua Soderholm, March 2017
% Fugro ROAMES
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
% image map layout config
%
map_N_lat               -31.8
map_S_lat               -33.6
map_E_lon               153.1
map_W_lon               150.9
%
% image layers
%
state_id                1
%
draw_cities             1
cities_names            {'Foster','Newcastle','Singleton'}
cities_lat              [-32.22,-32.94,-32.58]
cities_lon              [152.54,151.79,151.18]
cities_horz_align       {'left','left','left'}
cities_vert_align       {'top','top','top'}
cities_fontsize         [10,10,10]
cities_marksize         [3,3,3]