%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% climate.m mapping configuration file
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Joshua Soderholm, March 2017
% Fugro ROAMES
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
% image map layout config
%
map_N_lat               -18.52
map_S_lat               -20.33
map_E_lon               145.6
map_W_lon               147.51
%
% image layers
%
state_id                3
%
draw_cities             1
cities_names            {'Ingham','Townsville','Ayr','Charters.Towers'}
cities_lat              [-18.66,-19.26,-19.58,-20]
cities_lon              [146.17,146.81,147.42,146.27]
cities_horz_align       {'right','right','right','right'}
cities_vert_align       {'top','top','top','top'}
cities_fontsize         [10,10,10,10]
cities_marksize         [3,3,3,3]