%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% climate.m mapping configuration file
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Joshua Soderholm, March 2017
% Fugro ROAMES
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
% image map layout config
%
map_N_lat               -42.2
map_S_lat               -44.0
map_E_lon               149.0
map_W_lon               146.6
%
% image layers
%
state_id                [6]
%
draw_cities             1
cities_names            {'Hobart','Dover','Orford'}
cities_lat              [-42.89,-43.32,-42.57]
cities_lon              [147.33,147.01,147.87]
cities_horz_align       {'right','right','right'}
cities_vert_align       {'top','top','top'}
cities_fontsize         [10,10,10]
cities_marksize         [3,3,3]
