%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% climate.m mapping configuration file
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Joshua Soderholm, March 2017
% Fugro ROAMES
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
% image map layout config
%
map_N_lat               -15.92
map_S_lat               -17.73
map_E_lon               146.62
map_W_lon               144.75
%
% image layers
%
state_id                3
%
draw_cities             1
cities_names            {'Port.Douglas','Cairns','Atherton','Innisfail'}
cities_lat              [-16.5,-16.93,-17.27,-17.51]
cities_lon              [145.5,145.78,145.48,146]
cities_horz_align       {'right','right','right','right'}
cities_vert_align       {'top','top','top','top'}
cities_fontsize         [10,10,10,10]
cities_marksize         [3,3,3,3]