%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% climate.m mapping configuration file
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Joshua Soderholm, March 2017
% Fugro ROAMES
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
% image map layout config
%
map_N_lat               -30.1
map_S_lat               -32
map_E_lon               151.3
map_W_lon               149.1
%
% image layers
%
state_id                [1,3]
%
draw_cities             1
cities_names            {'Narrabri','Coonabarabran','Tamworth'}
cities_lat              [-30.32,-31.25,-31.083]
cities_lon              [149.76,149.26,150.92]
cities_horz_align       {'right','right','right'}
cities_vert_align       {'top','top','top'}
cities_fontsize         [10,10,10]
cities_marksize         [3,3,3]