%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% climate.m mapping configuration file
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Joshua Soderholm, March 2017
% Fugro ROAMES
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
% image map layout config
%
map_N_lat               -31.5
map_S_lat               -33.3
map_E_lon               117.0
map_W_lon               114.8
%
% image layers
%
state_id                [5]
%
draw_cities             1
cities_names            {'Perth','Waroona','Culford'}
cities_lat              [-31.96,-32.85,-32.49]
cities_lon              [115.86,115.92,116.8]
cities_horz_align       {'right','right','right'}
cities_vert_align       {'top','top','top'}
cities_fontsize         [10,10,10]
cities_marksize         [3,3,3]
