%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% climate.m mapping configuration file
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Joshua Soderholm, March 2017
% Fugro ROAMES
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
% image map layout config
%
map_N_lat               -34.77
map_S_lat               -36.57
map_E_lon               150.62
map_W_lon               148.41
%  
% image layers
%
state_id                [1,8]
%
draw_cities             1
cities_names            {'Canberra','Cooma','Moruya'}
cities_lat              [-35.3,-36.24,-35.92]
cities_lon              [149.15,149.13,150.1]
cities_horz_align       {'left','left','left'}
cities_vert_align       {'top','top','top'}
cities_fontsize         [10,10,10]
cities_marksize         [3,3,3]