%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% climate.m mapping configuration file
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Joshua Soderholm, March 2017
% Fugro ROAMES
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
% image map layout config
%
map_N_lat               -20.23
map_S_lat               -22
map_E_lon               148.26
map_W_lon               150.2
%
% image layers
%
state_id                3
%
draw_cities             1
cities_names            {'Proserpine','Mackay','Sarina'}
cities_lat              [-20.4,-21.15,-21.42]
cities_lon              [148.6,149.19,149.22]
cities_horz_align       {'right','right','right'}
cities_vert_align       {'top','top','top'}
cities_fontsize         [10,10,10]
cities_marksize         [3,3,3]