% config file for rwx_tc
%
date_start              2017-03-27T06:00:00  %start timestamp
date_stop               2017-03-28T02:00:00  %stop timestamp
radar_id_list           [24,22]              %radar id list
master_r_id             22                   %radar id to use for composite timesteps
max_time_diff           5                    %maximum difference for composite timestep difference (minutes)
ppi_sweep               1                    %ppi level index to extract volume for composite
%
force_transform_update 0                    %flag for transform update
%
coast_ffn               /run/media/meso/DATA/mapping/AUS_boundary/STE11aAust.shp
state_id                3
