%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% climate.m primary configuration file
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Joshua Soderholm, March 2017
% Fugro ROAMES
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
% Site
%
radar_id_list  [40]            %radar id for climate analysis. Set to 'all' to use radar_id of all folders in archive path
transform_new  0                                               %flag to force transform regeneration
%
% Temporal
%
date_start     1999_01_01                                      %start date (yyyy_mm_dd)
date_stop      2016_12_31                                      %end date   (yyyy_mm_dd)
time_min       00:00                                           %newest time in each dat to accept a cell (HH:MM)
time_max       23:59                                           %oldest time in each day to accept a cell (HH:MM)
month_list     [1,2,3,4,5,6,7,8,9,10,11,12]                    %list of month numbers (vec)
date_list_flag 0                                               %flag to use date_list (flag)
date_list_var  target_days                                     %date_list variable name (str)
rainyr_flag    1                                               %normalise by number of rain years (flag)
rain_yr_start  6                                               %rain year starting month (month number)
%
% Spatial
%
centroid_grid  0.1											   %grid size for centroid accumulation (degrees)
range_flag     1                                               %flag to apply range mask                                       
data_range     150                                             %filter distance from radar(km)
fixed_caxis    1                                               %fixed caxis flag for MERGED DENSITY ONLY
caxis_min      0.0                                             %fixed caxis min value for MERGED DENSITY ONLY
caxis_max      0.8                                             %fixed caxis max value for MERGED DENSITY ONLY
%
% Data processing
%
data_type      mesh                                            %data type to use from database, (mesh,posh,dbz,g_vil,tops_h,sts_h)
data_min       15                                              %lower limits for filtering data_type (data units, nan for no limit)
data_max       nan                                             %upper limit for filtering stats data (data units, nan for no limit)
min_track      2                                               %minimum number of cells in a track to analyse (n. cells), min of 2
ci_flag        0                                               %flag to only keep centroids for ci events
ce_flag        0                                               %flag to only keep centroids for ce events
ce_diff        8                                               %different between tn1 and tn cells for ce event (data units)
%
% Global Plot settings
%
% #colorbar
colorbar_label Annual.Frequency                                %color bar label (. will be replaced with space)
%
%  #map config
fig_w                   700
fig_h                   700
lat_label_int           1
lon_label_int           1
lat_label_rnd           0
lon_label_rnd           0
lat_grid_res            0.5
lon_grid_res            0.5
label_fontsize          10
%
% # topo
draw_topo               1
topo_resample           1
topo_min                200
topo_step               200
topo_max                2000
topo_linewidth          1
topo_linecolor          [0.3,0.3,0.3]
%
% #silence
draw_silence            1
silence_radius          8 %km
silence_face_color      [0.5,0.5,0.5]
silence_edge_color      [0.5,0.5,0.5]
silence_line_width      2
%
% #coastlines
draw_coast              1
%
% #site marker
draw_site               1
site_marker_size        6
%
% #range rings
draw_range_rings        1
range_ring_radius       [50,100] %km
rr_edge_color           [0,0,0]
rr_line_width           1
%
% #streamliners
draw_streamliners       0
stream_linewith         1.5
stream_linecolor        [0.6,0.6,0.6]
%
% #kml
img_rescale             5
kml_transparent_flag    1
%
% Paths
%
db_root        /run/media/meso/data/rwx_clim_archive/          %local path to climate database root /run/media/meso/data/rwx_clim_archive/
date_list_ffn  data/sb_data/arch_sb_days.mat                   %second date list to filter primary (must contain matlab dates rounded)
out_root       /home/meso/rwx_climate/                         %output path for climate products
old_root       /home/meso/rwx_climate/OLD/                     %output path for old climate products
coast_ffn      /run/media/meso/DATA/mapping/AUS_boundary/STE11aAust.shp
topo_ffn       /run/media/meso/DATA/mapping/AUS_gtopo30