%---------------------------------------------------------
%
%climate.m config file
%
%---------------------------------------------------------
radar_id_list  [50]                                            %radar id list for climate analysis
db_root        /run/media/meso/data/rwx_clim_archive/          %local path to climate database root
date_start     1997-07-01                                      %start date (yyyy-mm-dd)
date_end       2015-06-30                                      %end date (yyyy-mm-dd)
time_min       00:00                                           %newest time in each dat to accept a cell (HH:MM)
time_max       23:59                                           %oldest time in each day to accept a cell (HH:MM)
month_list     All                                             %list of month numbers
financial_year 1                                               %use finanical years for annual normalisation
%
data_type      MESH_grid                                       %data type to use from database, stormh5 fields + direction
stat_type      density                                         %analysis type to build grid from data (max/mean/density/centroid)
%
data_min       20                                              %lower limits for filtering cell data (data units, nan for no limit)
data_max       nan                                             %upper limit for filtering cell data (data units, nan for no limit)
min_track      2                                               %minimum number of cells in a track to analyse (n. cells)
ci_flag        0                                               %flag to only keep centroids for ci events
ce_flag        0                                               %flag to only keep centroids for ce events
ce_diff        8                                               %different between tn1 and tn cells for ce event (data units)
centroid_grid  5000											   %grid size for centroid accumulation (m)
annual_flag    1                                               %normalise by number of rain years
grid_max       nan                                             %max value in output grid (data units, nan for no limit)
%
ge_flag        1                                               %output ge
geotiff_flag   1                                               %output geotiff
image_flag     1											   %output image
db_out         1                                               %output simply database
out_root       /home/meso/rwx_climate/                         %output path for climate products


