%---------------------------------------------------------
%
%compile_kmz.m config file
%
%---------------------------------------------------------
local_path    /home/meso/rwx_climate/                 %s3 path to stormh5 data
s3_path       s3://roames-weather-vis/kml_climate/    %s3 path to stormh5 data
url_prefix    https://s3-ap-southeast-2.amazonaws.com/roames-weather-vis/kml_climate/
range_ring    100                                     %radius of range rings to draw

