%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% climate.m mapping configuration file
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Joshua Soderholm, March 2017
% Fugro ROAMES
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
% map layout config
fig_w                   700
fig_h                   700
%
map_N_lat               -32.8
map_S_lat               -35
map_E_lon               152.3 
map_W_lon               150
%  
lat_label_int           1
lon_label_int           1
%
lat_label_rnd           0
lon_label_rnd           0
%
lat_grid_res            0.5
lon_grid_res            0.5
%
label_fontsize          10
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
% layers
%
draw_coast              1
coast_ffn               /run/media/meso/DATA/mapping/AUS_boundary/STE11aAust.shp
state_id                1
%
draw_topo               1
topo_ffn                /run/media/meso/DATA/mapping/AUS_gtopo30
topo_resample           3
topo_min                200
topo_step               200
topo_max                1000
topo_linewidth          1
topo_linecolor          [0.3,0.3,0.3]
%
draw_cities             1
cities_names            {'Sydney','Wollongong'}
cities_lat              [-33.865,-34.433]
cities_lon              [151.209,150.883]
cities_horz_align       {'left','left'}
cities_vert_align       {'top','top'}
cities_fontsize         [14,14]
cities_marksize         [5,5]
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
colorbar_label          Frequency
%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%
draw_streamliners       1
stream_linewith         1.5
stream_linecolor        [0.6,0.6,0.6]