%---------------------------------------------------------
%
%sync_database.m config file
%
%---------------------------------------------------------
radar_id      03                                              %radar id for database sync
storm_s3      s3://roames-weather-stormh5/stormh5_archive/    %s3 path to stormh5 data
storm_ddb     wxradar_stormh5_index                           %ddb name for storm cell data
db_root       /run/media/meso/data/rwx_clim_archive/          %local path to climate database root
ddb_fields    29                                              %number of fields in ddb (QC)
resync_h5     1                                               %force resync of stormh5

