%qc_odimh5 CONFIG FILE
%
%
year_start                1997
year_stop                 2016
radar_id                  50
min_vol_size              20000 %bytes
ddb_table                 weather_odimh5_index
s3_odimh5_root            s3://roames-weather-odimh5/odimh5_archive/
s3_bucket                 s3://roames-weather-odimh5/
%
remove_cappi              1
nowcasting_rename_flag    0
timestamp_rename_flag     1
duplicate_flag            1
ddb_flag                  1
vol_count_flag            1
