%qc_odimh5 CONFIG FILE
%
%
year_start                2015
year_stop                 2015
radar_id_list             [51]              %can use 'all' for a list of 1:99
empty_vol_size            5000              %bytes, 5kB
thresh_vol_size           100000            %bytes, 100kB
s3_odimh5_root            s3://roames-weather-odimh5/odimh5_archive/
s3_bucket                 s3://roames-weather-odimh5/
%
remove_cappi              1
nowcasting_rename_flag    1
timestamp_rename_flag     1
duplicate_flag            1
vol_count_flag            1
