%KML CONFIG FILE
%WHAT: controls the input parameters of the KML config module
%
local_src_flag  0
local_src_root /WeatherShare/storm_archive/
s3_src_root    s3://roames-wxradar-archive/storm_archive/
%
local_dest_flag 1
local_dest_root /WeatherShare/realtime_kml/
s3_dest_root    s3://roames-wxradar-archive/realtime_kml/
%
%KML FILE STRUCTURE OPTIONS
overlays_path         overlays/
vol_data_path         vol_data/
storm_data_path       storm_data/
coverage_range        150        %coverage rings distance in km
max_vis_trck_length   20         %length of storm track colormap
xsec_levels           [1,5]      %vol_grid z levels index to produce x-sections for
%
% HISTORICAL
%
hist_oldest      2015-12-15T22:00:00
%yyyy_mm_ddTHH:MM : oldest time to process
hist_newest      2015-12-15T23:59:59
%yyyy_mm_ddTHH:MM : newest time to process
%
%
realtime_kml     0
%
%
radar_id_list    54
%site description
%overrides the zone setting
%Option (1)    all
%Option (2)    single number
%Option (3)    vector
%
%                1 2 3 4 5 6 7 8 9 0 1 2 3
options         [0,1,0,0,0,0,1,1,1,1,0,1,0]
%description (T/F):
%Entry (1)  scan 1 refl kml object
%Entry (2)  scan 2 refl kml object
%Entry (3)  scan 1 vel kml object
%Entry (4)  scan 2 vel kml object
%Entry (5)  Refl xsec kml object
%Entry (6)  Vel xsec kml object
%Entry (7)  inner isosurface kml object
%Entry (8)  outer isosurface kml object
%Entry (9)  storm stats balloon object
%Entry (10) tracks path kml object
%Entry (11) swaths kml object
%Entry (12) nowcast swaths kml objects
%Entry (13) priority radar selection   


