%PROCESS CONFIG FILE
%WHAT: controls the input parameters of the wv_process module
%
%local_src_flag  0
%
%local_src_root /WeatherShare/odimh5_archive/
%
s3_src_root    s3://roames-wxradar-archive/odimh5_archive/
%
local_dest_flag 0
%
local_dest_root /WeatherShare/storm_archive2/
%
s3_dest_root    s3://roames-wxradar-archive/storm_archive2/
%
realtime_flag    1
%description: controls process mode:
%Realtime: uses ftp index (.h5), realtime GFS forecast temp data and loops
%Historical: generates own odimh5 list (.h5.tar), uses ERA-Intrim data and does not loop
%
realtime_offset -1
%-nn : offset time in hours from now for realtime
%note: realtime_newest is set to now
%
%CLIMATOLOGY ANALYSIS DATES
%
hist_oldest      2015_10_27
%yyyy_mm_dd : oldest time to process
hist_newest      2015_10_27
%yyyy_mm_dd : newest time to process
%
%SITE
%
radar_id_list           all
force_transform_update  0         %flag to force transform regeneration
%site description
%overrides the zone setting
%Option (1)    all: No site selected
%Option (2)    ##: single number (REQUIRED FOR CLIMATOLOGY)
%Option (3)    vector
%
% ERROR NOTIFICATION
pushover_flag   1
